<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="6ea20cb1-3911-4a28-84c4-c41cfd819723" Name="Blitzy" Language="1033"
			 Version="!(bind.FileVersion.Blitzy.exe)" Manufacturer="btbsoft.org"
			 UpgradeCode="2b18ed51-32b9-463b-8459-8b32ee807a79">
		<!-- Package information -->
		<Package InstallerVersion="405" Compressed="yes" Manufacturer="btbsoft.org" Platform="x64"
				 Description=".NET Keystroke launcher" Comments="Blitzy installer" />
		<!-- Properties -->
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		<WixVariable Id="WixUISupportPerUser" Value="0" />
		<WixVariable Id="WixUISupportPerMachine" Value="1" />
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />
		<Property Id="ApplicationFolderName" Value="btbsoft\Blitzy" />
		<Property Id="ALLUSERS" Value="1" />
		<Property Id="LAUNCHPRODUCT">1</Property>
		<Property Id="APPLICATIONFOLDER">
			<RegistrySearch Id="BlitzyRegistry" Type="raw" Root="HKCU" Key="Software\btbsoft\Blitzy" Name="InstallDir" />
		</Property>
		<!-- Conditions -->
		<PropertyRef Id="NETFRAMEWORK45" />
		<Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK45]]></Condition>
		<Condition Message="Only Windows Vista or newer is supported"><![CDATA[VersionNT >= 600]]></Condition>
		<!-- Upgrade -->
		<MajorUpgrade Schedule="afterInstallFinalize" DowngradeErrorMessage="A later version of Blitzy is already installed. Setup will now exit." MigrateFeatures="yes" />
		<!-- Media -->
		<Media Id="1" Cabinet="Blitzy.cab" EmbedCab="yes" />

		<!-- Data -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!-- ProgramFiles -->
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="APPLICATIONFOLDER" Name="btbsoft">
					<Component Id="Blitzy" Guid="0C7AC4FA-32DD-4A2D-8A04-20483F76CF02">
						<File Id="Blitzy.exe" Name="Blitzy.exe" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Blitzy.exe" Name="Blitzy.exe" />

						<File Id="btbapi.dll" Name="btbapi.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="btbapi.dll" Name="btbapi.dll" />

						<File Id="Blitzy.exe.config" Name="Blitzy.exe.config" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Blitzy.exe.config" Name="Blitzy.exe.config" />

						<File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" />

						<File Id="GalaSoft.MvvmLight.Extras.dll" Name="GalaSoft.MvvmLight.Extras.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="GalaSoft.MvvmLight.Extras.dll" Name="GalaSoft.MvvmLight.Extras.dll" />

						<File Id="Hardcodet.Wpf.TaskbarNotification.dll" Name="Hardcodet.Wpf.TaskbarNotification.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Hardcodet.Wpf.TaskbarNotification.dll" Name="Hardcodet.Wpf.TaskbarNotification.dll" />

						<File Id="log4net.dll" Name="log4net.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="log4net.dll" Name="log4net.dll" />

						<File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" />

						<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" />

						<File Id="Ookii.Dialogs.Wpf.dll" Name="Ookii.Dialogs.Wpf.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Ookii.Dialogs.Wpf.dll" Name="Ookii.Dialogs.Wpf.dll" />

						<File Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="System.Data.SQLite.dll" Name="System.Data.SQLite.dll" />

						<File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" />

						<File Id="WPFLocalizeExtension.dll" Name="WPFLocalizeExtension.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="WPFLocalizeExtension.dll" Name="WPFLocalizeExtension.dll" />

						<File Id="XAMLMarkupExtensions.dll" Name="XAMLMarkupExtensions.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="XAMLMarkupExtensions.dll" Name="XAMLMarkupExtensions.dll" />

						<File Id="Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Xceed.Wpf.Toolkit.dll" Name="Xceed.Wpf.Toolkit.dll" />

						<File Id="Xceed.Wpf.DataGrid.dll" Name="Xceed.Wpf.DataGrid.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Xceed.Wpf.DataGrid.dll" Name="Xceed.Wpf.DataGrid.dll" />

						<File Id="Xceed.Wpf.AvalonDock.dll" Name="Xceed.Wpf.AvalonDock.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Xceed.Wpf.AvalonDock.dll" Name="Xceed.Wpf.AvalonDock.dll" />

						<File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Name="Xceed.Wpf.AvalonDock.Themes.Aero.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll" Name="Xceed.Wpf.AvalonDock.Themes.Aero.dll" />

						<File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Name="Xceed.Wpf.AvalonDock.Themes.Metro.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll" Name="Xceed.Wpf.AvalonDock.Themes.Metro.dll" />

						<File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Name="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)" Checksum="yes" />
						<RemoveFile On="uninstall" Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" Name="Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
					</Component>
					<Directory Id="en" Name="en">
						<Component Id="language_en" Guid="437A9A91-E27A-4552-A5F8-2B69D96FC49D">
							<File Id="en.Blitzy.resources.dll" Name="Blitzy.resources.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)en\Blitzy.resources.dll" Checksum="yes" />
							<RemoveFile On="uninstall" Id="en.Blitzy.resources.dll" Name="Blitzy.resources.dll" />
						</Component>
					</Directory>
					<Directory Id="de" Name="de">
						<Component Id="language_de" Guid="BB6B9D9C-9124-4886-8638-2D0A1B073787">
							<File Id="de.Blitzy.resources.dll" Name="Blitzy.resources.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)de\Blitzy.resources.dll" Checksum="yes" />
							<RemoveFile On="uninstall" Id="de.Blitzy.resources.dll" Name="Blitzy.resources.dll" />
						</Component>
					</Directory>
					<Directory Id="interop_x64" Name="x64">
						<Component Id="x64" Guid="D3E1DEB7-900F-4F02-AFFF-86FB72464665">
							<File Id="x64.SQLite.Interop.dll" Name="SQLite.Interop.dll" DiskId="1" Source="$(var.Blitzy.TargetDir)x64\SQLite.Interop.dll" Checksum="yes" />
							<RemoveFile On="uninstall" Id="x64.SQLite.Interop.dll" Name="SQLite.Interop.dll" />
						</Component>
					</Directory>
					<Directory Id="Plugins" Name="plugins">
						<Component Id="builtin_components" Guid="D90051D5-F7B7-4D48-BC08-8C5763D86413">
							<CreateFolder />
							<RemoveFolder On="uninstall" Id="Plugins" />
						</Component>
					</Directory>
					<Component Id="Autostart" Guid="">
						<RegistryValue Id="Autostart_registry" Key="Software\Microsoft\Windows\CurrentVersion\Run" Root="HKCU" Name="Blitzy" Value="[APPLICATIONFOLDER]Blitzy.exe" Type="string" />
					</Component>
					<Directory Id="BlitzyDocumentation" Name="doc">
						<Component Id="Blitzy_doc" Guid="20FAB883-692E-402A-AFA3-CF7A394D6F16">
							<File Id="DeveloperGuide.html" Name="DeveloperGuide.html" Source="..\Documentation\" />
							<RemoveFile Id="DeveloperGuide.html" On="uninstall" Name="DeveloperGuide.html" />

							<File Id="UserGuide.html" Name="UserGuide.html" Source="..\Documentation\" />
							<RemoveFile On="uninstall" Id="UserGuide.html" Name="UserGuide.html" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<!-- AppData -->
			<Directory Id="LocalAppDataFolder" Name="appdata">
				<Directory Id="cfg_baseDir" Name="btbsoft">
					<Directory Id="cfg_productdir" Name="Blitzy">
						<Component Id="Blitzy_settings" Guid="85DCECE5-B5B3-495E-8769-06A5024B5FE4">
							<CreateFolder />
							<RegistryKey Root="HKCU" Key="SOFTWARE\btbsoft\Blitzy">
								<RegistryValue Type="string" Value="dummy" KeyPath="yes" />
							</RegistryKey>
							<RemoveFile On="uninstall" Name="log.txt" Id="Blitzy_log" />
							<RemoveFile On="uninstall" Name="data.db" Id="Blitzy_data" />
							<RemoveFolder On="uninstall" Id="cfg_productdir" />
							<RemoveRegistryKey Action="removeOnUninstall" Root="HKCU" Key="SOFTWARE\btbsoft\Blitzy" />
						</Component>
					</Directory>
					<Component Id="dummy_appdata" Guid="384FF8F3-2A74-425C-9CD9-702EFB2670B8">
						<!--
							This component purely exists to satisfy wix... You know that wix almost sounds like 'wichse' in german which means jizz
							Now I don't think this is a coincidence anymore...
						-->
						<RegistryKey Root="HKCU" Key="SOFTWARE\btbsoft\Blitzy">
							<RegistryValue Type="string" Value="dummy" KeyPath="yes" />
						</RegistryKey>
						<RemoveRegistryKey Action="removeOnUninstall" Root="HKCU" Key="SOFTWARE\btbsoft\Blitzy" />
						<RemoveFolder On="uninstall" Id="cfg_baseDir" />
					</Component>
				</Directory>
			</Directory>
			<!-- Start menu -->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="btbsoft">
					<Component Id="shortcut" Guid="863F1BCA-119A-4AAB-B8C5-DA04869B00E5">
						<Shortcut Id="ApplicationStartMenuShortcut" Name="Blitzy" Description=".NET Keystroke Launcher" Target="[APPLICATIONFOLDER]Blitzy.exe" WorkingDirectory="APPLICATIONFOLDER" />
						<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
						<RegistryValue Root="HKCU" Key="SOFTWARE\btbsoft\Blitzy" Name="installed" Type="integer" Value="1" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<ComponentGroup Id="language_files">
			<ComponentRef Id="language_de" />
			<ComponentRef Id="language_en" />
		</ComponentGroup>
		<ComponentGroup Id="appdata_files">
			<ComponentRef Id="Blitzy_settings" />
			<ComponentRef Id="dummy_appdata" />
		</ComponentGroup>
		<ComponentGroup Id="binary_files">
			<ComponentRef Id="x64" />
		</ComponentGroup>

		<!-- Blitzy -->
		<Feature Id="Blitzy" Title="Blitzy" Description="Main program files and documentation" Level="1" Absent="disallow" AllowAdvertise="no" Display="expand">
			<ComponentRef Id="Blitzy" />
			<ComponentRef Id="Blitzy_doc" />
			<ComponentRef Id="shortcut" />
			<ComponentRef Id="builtin_components" />

			<ComponentGroupRef Id="binary_files" />
			<ComponentGroupRef Id="language_files" />
			<ComponentGroupRef Id="appdata_files" />

			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />

			<Feature Id="Autostart" Title="Autostart" Description="Start with Windows" Absent="allow" InstallDefault="followParent">
				<ComponentRef Id="Autostart" />
			</Feature>
		</Feature>

		<!-- UI -->
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Blitzy" />
		<Property Id="WixShellExecTarget" Value="[#Blitzy.exe]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
		<UI>
			<UIRef Id="WixUI_Advanced" />
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
		<CustomAction Id="LaunchFile" FileKey="Blitzy.exe" ExeCommand="" Return="asyncNoWait" />
	</Product>
</Wix>