<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="%envFolderPath{CommonApplicationData}\\Axel Semrau GmbH &amp; Co KG\\OdorOnline2\\log-file" />
			<appendToFile value="true" />
			<Encoding value="utf-8" />
			<rollingStyle value="Date" />
			<datePattern value=".yyyy-MM-dd" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level [%thread] - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="ALL" />
			<appender-ref ref="DebugAppender" />
		</root>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>